<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-auth.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>


<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAUH1Hmjpdhbl7P-8B3c2F8ebq3EsD-KQY",
        authDomain: "daangn-sms.firebaseapp.com",
        databaseURL: "https://daangn-sms.firebaseio.com",
        projectId: "daangn-sms",
        storageBucket: "daangn-sms.appspot.com",
        messagingSenderId: "91201833922",
        appId: "1:91201833922:web:4904b686ae24d195f4a45b",
        measurementId: "G-39DPDKYPEG"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    firebase.auth().languageCode = 'ko';
</script>
<div class="container pt-5">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
